@model StartUp.Models.Faculty

<h1>Faculty Details</h1>
<hr/>

<b>Faculty Id :</b>  @Model.FacultyId  <br/>
<b>Faculty Name: </b>@Model.FacultyName  <br/>
<b>Facutlty Descrption: </b> @Model.FacultyDescription

